body{
    background-color: black;
    display: flex;
    flex-direction: column;
    color:darkslategrey;
}
h1{
    align-self: center;
    
}
#todo{
    align-self: center;
    display: flex;
    background-color: white;
    height:85vh;
    width:50vw;
    flex-direction:column;
    position:relative;
}
.details{
    height:10vh;
    border-top: 1px solid grey;
    border-radius: 2%;
}
#description{
    display:flex;
    flex-direction: column;
    
}
#calender{
    border-bottom: 0.5px solid darkslategrey;
    border-left: 0.5px solid darkslategrey;
    display:flex;
    flex-direction: column;
}
#Category{
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    display:flex;
    flex-direction: column;
}
td{
    padding: 0;
    width:50%;
}
#TaskManager{
    display: flex;
    height:15vh;
    flex-wrap: wrap;
    color:white;
    justify-content: flex-start;
}
#add_task{
    display: flex;
    background-color: rgb(114, 95, 95);
    width:15vw;
    height:10vh;
    flex-direction: row;
    margin-top:2%;
    margin-left:18%;
}

#delete_tasks{
    background-color: red;
    width:15vw;
    height:10vh;
    position:absolute;
    right:10vw;
    top:35.6vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#plus{
    align-self: center;
    padding-left: 2vw;
}
.task_padding{
    padding-left:1vw;
    
}
#delete{
    align-self: center;
    padding-left: 1.5vw;
}
li{
    border-top:1px solid black;
    color:black;
}
ul{
    list-style-type:none;
    padding:0;
}
form{
    align-self: center;
    display: flex;
    flex-direction:column;
    width:50vw;
}
#description input{
    background-color: white;
    border: 0;
   height: 7vh;
}
h5{
    margin:0;
}
#category select{
    background-color: white;
    border: 0;
   height: 7vh;
   cursor:pointer;
   
}
#calender input{
    border:0;
    height:7vh;
    cursor: pointer;
}
button{
    background-color:rgb(114, 95, 95);
    border:0;
}
.eventlist{
    margin:0;
    color:slategrey;
    font-family:cursive;
}
#eventlistdiv{
    padding: 5px;
}
#mark{
    display: inline;
    height:2.2vh;
    width:2.5vh;
    border:2px solid grey;
    align-self: center;
    margin-left: 3vw;
    border-radius: 20%;
    color:blue;
    padding:0;
}
li{
    display: flex;
}
.outline{
    outline: white;
}
#date{
    font-family: cursive;
    color:grey;
}
.options{
    color:grey;
}
#select{
    color: grey;
}
#marker{
    color:blue;
}
#event_bar{
    display: flex;
    position: relative;
    margin-top:2vh;
    border-bottom: 1px double black;
}
#checkbox{
    margin-left:2vw;
}
#delete_form{
    border-top: 2px solid black;
}
#category_bar{
    position: absolute;
    height:6vh;
    width: 7vw;
    background-color: red;
    right:5vw;
    bottom: 0.8vh;
    text-align: center;
    border-radius: 12%;
}
#category_bar h2{
    margin: 0;
    margin-top: 1vh;
    color:white;
    font-weight: lighter;
    font-family:serif;

}
#delete_tasks h3{
    margin:0;
}
#spacing{
    margin-left: 2vw;
}
#date{
    display: flex;
}
#date h4{
    margin-left:1vw;
}